:host {
    .main-container {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      width: 100%;
  
      .content-container {
        height: 100%;
        width: 75%;
        align-self: center;
      }
    }
  }
  