.container {
    display: flex;
    flex-direction: column;

    .manager {
        display: flex;
        flex-direction: column;
        padding: 10px;
        border: 5px solid black;
        margin-bottom: 40px;

        .CRUD {
            display: flex;
            flex-direction: column;
            padding: 10px;
            border: 3px solid black;
            margin-bottom: 30px;

            .form-caregiver {
                display: flex;
                flex-direction: column;
    
                input, select {
                    margin-bottom: 10px;
                }
            }

            td.id {
                width: 300px;
            } 
            td.name {
                width: 120px;
            } 
            td.birth {
                width: 200px;
            } 
            td.gen {
                width: 100px;
            } 
            td.address {
                width: 150px;
            } 

            td.effects {
                width: 200px;
            }

            td.dose {
                width: 75px;
            }

            .header {
                font-weight: bold;
                margin-bottom: 20px;
            }

            .intake-box {
                display: flex;
                
                .part-of-day {
                    margin: auto;
                    display: flex;
                    
                    & > * {
                        margin: auto;
                    }
                }
            }
        }

    }

}