<div class="container">
    <h1>Welcome Dr. {{doctorDTO.name}}!</h1>

    <div class="manager">
        <h2>Manage Caregivers</h2>
        <div class="CRUD">
            <h3>Add a new Caregiver</h3>
            <form class="form-caregiver" (submit)="addCaregiver(cname.value, cbirth.value, cgender.value, caddress.value)" >
                <input type="text" placeholder="Name" #cname>
                <input type="date" #cbirth>
                <select name="select" #cgender>
                    <option value="male">Male</option> 
                    <option value="female">Female</option>
                </select>
                <input type="text" placeholder="Address" #caddress>
                <button>ADD CAREGIVER</button>
            </form>
        </div>

        <div class="CRUD">
            <h3>Caregivers List</h3>
            <tr class="header">
                <td class="id">ID</td>
                <td class="name">NAME</td>
                <td class="birth">BIRTH DATE</td>
                <td class="gen">GENDER</td>
                <td class="address">ADDRESS</td>
            </tr>
            <tr *ngFor="let caregiver of caregivers">
                <td class="id">{{caregiver.id}}</td>
                <td class="name">{{caregiver.name}}</td>
                <td class="birth">{{caregiver.birthDate}}</td>
                <td class="gen">{{caregiver.gender}}</td>
                <td class="address">{{caregiver.address}}</td>
            </tr>
        </div>

        <div class="CRUD">
            <h3>Delete a Caregiver</h3>
            
            <form class="form-caregiver" (submit)="deleteCaregiver(cid.value)">
                <select #cid>
                    <option *ngFor="let caregiver of caregivers; let i = index" value= '{{caregivers[i].id}}'>
                        {{caregivers[i].name}} - {{caregivers[i].id}}
                    </option>
                </select>
                <input type="submit" value="DELETE">
            </form>
           
        </div>

        <div class="CRUD">
            <h3>Update a Caregiver</h3>
            <form class="form-caregiver" (submit)="updateCaregiver(cuid.value, cuname.value, cubirth.value, cugender.value, cuaddress.value)">
                <select (change)='onChangeCaregiver(cuid.value)' #cuid>
                    <option *ngFor="let caregiver1 of caregivers; let z = index" value= '{{caregivers[z].id}}'>
                        {{caregivers[z].id}}
                    </option>
                </select>
                <input type="text" value='{{updatedCaregiver.name}}' #cuname>
                <input type="date" value='{{updatedCaregiver.birthDate}}' #cubirth>
                <select name="select" value='{{updatedCaregiver.gender}}' #cugender>
                    <option value="male">Male</option> 
                    <option value="female">Female</option>
                </select>
                <input type="text" value='{{updatedCaregiver.address}}' #cuaddress>

                <input type="submit" value="UPDATE">
            </form>
        </div>
    </div>

    <div class="manager">
        <h2>Manage Medications</h2>
        <div class="CRUD">
            <h3>Add a new Medication</h3>
            <form class="form-caregiver" (submit)="addMedication(mname.value, meffects.value, mdose.value)" >
                <input type="text" placeholder="Name" #mname>
                <input type="text" placeholder="Side Effects" #meffects>
                <input type="number" placeholder="Dose" #mdose>
                <button>ADD MEDICATION</button>
            </form>
        </div>

        <div class="CRUD">
            <h3>Medications List</h3>
            <tr class="header">
                <td class="id">ID</td>
                <td class="name">NAME</td>
                <td class="effects">SIDE EFFECTS</td>
                <td class="dose">DOSE</td>
            </tr>
            <tr *ngFor="let medication of medications">
                <td class="id">{{medication.id}}</td>
                <td class="name">{{medication.name}}</td>
                <td class="effects">{{medication.sideEffects}}</td>
                <td class="dose">{{medication.dose}}g</td>
            </tr>
        </div>

        <div class="CRUD">
            <h3>Delete a Medication</h3>
            
            <form class="form-caregiver" (submit)="deleteMedication(mid.value)">
                <select #mid>
                    <option *ngFor="let medication of medications; let i = index" value= '{{medications[i].id}}'>
                        {{medications[i].name}} - {{medications[i].id}}
                    </option>
                </select>
                <input type="submit" value="DELETE">
            </form>
           
        </div>

        <div class="CRUD">
            <h3>Update a Medication</h3>
            <form class="form-caregiver" (submit)="updateMedication(muid.value, muname.value, mueffects.value, mudose.value)">
                <select (change)='onChangeMedication(muid.value)' #muid>
                    <option *ngFor="let medication of medications; let z = index" value= '{{medications[z].id}}'>
                        {{medications[z].id}}
                    </option>
                </select>
                <input type="text" value='{{updatedMedication.name}}' #muname>
                <input type="text" value='{{updatedMedication.sideEffects}}' #mueffects>
                <input type="number" value='{{updatedMedication.dose}}' #mudose>

                <input type="submit" value="UPDATE">
            </form>
        </div>
    </div>

    <div class="manager">
        <h2>Manage Patients</h2>

        <div class="CRUD">
            <h3>Add a new Patient</h3>
            <form class="form-caregiver" (submit)="addPatient(pname.value, pbirth.value, pgender.value, paddress.value, pcid.value, precord.value)" >
                <input type="text" placeholder="Name" #pname>
                <input type="date" #pbirth>
                <select name="select" #pgender>
                    <option value="male">Male</option> 
                    <option value="female">Female</option>
                </select>
                <input type="text" placeholder="Address" #paddress>
                <select #pcid>
                    <option *ngFor="let caregiver of caregivers; let i = index" value= '{{caregivers[i].id}}'>
                        {{caregivers[i].name}} - {{caregivers[i].id}}
                    </option>
                </select>
                <input type="text" placeholder="Medical Record" #precord>
                <button>ADD PATIENT</button>
            </form>
        </div>

        <div class="CRUD">
            <h3>Patients List</h3>
            <tr class="header">
                <td class="id">ID</td>
                <td class="name">NAME</td>
                <td class="birth">BIRTH DATE</td>
                <td class="gen">GENDER</td>
                <td class="address">ADDRESS</td>
                <td class="record">MEDICAL RECORD</td>
            </tr>
            <tr *ngFor="let patient of patients">
                <td class="id">{{patient.id}}</td>
                <td class="name">{{patient.name}}</td>
                <td class="birth">{{patient.birthDate}}</td>
                <td class="gen">{{patient.gender}}</td>
                <td class="address">{{patient.address}}</td>
                <td class="record">{{patient.medicalRecord}}</td>
            </tr>
        </div>

        <div class="CRUD">
            <h3>Delete a Patient</h3>
            
            <form class="form-caregiver" (submit)="deletePatient(pid.value)">
                <select #pid>
                    <option *ngFor="let patient of patients; let i = index" value= '{{patients[i].id}}'>
                        {{patients[i].name}} - {{patients[i].id}}
                    </option>
                </select>
                <input type="submit" value="DELETE">
            </form>
           
        </div>

        <div class="CRUD">
            <h3>Update a Patient</h3>
            <form class="form-caregiver" (submit)="updatePatient(puid.value, puname.value, pubirth.value, pugender.value, puaddress.value, pucid.value, purecord.value)">
                <select (change)='onChangePatient(puid.value)' #puid>
                    <option *ngFor="let patient of patients; let z = index" value= '{{patients[z].id}}'>
                        {{patients[z].id}}
                    </option>
                </select>
                <input type="text" value='{{updatedPatient.name}}' #puname>
                <input type="date" value='{{updatedPatient.birthDate}}' #pubirth>
                <select name="select" value='{{updatedPatient.gender}}' #pugender>
                    <option value="male">Male</option> 
                    <option value="female">Female</option>
                </select>
                <input type="text" value='{{updatedPatient.address}}' #puaddress>
                <select value='{{updatedPatient.caregiver}}' #pucid>
                    <option *ngFor="let caregiver of caregivers; let i = index" value= '{{caregivers[i].id}}'>
                        {{caregivers[i].name}} - {{caregivers[i].id}}
                    </option>
                </select>
                <input type="text" value='{{updatedPatient.medicalRecord}}' #purecord>

                <input type="submit" value="UPDATE">
            </form>
        </div>

        <div class="CRUD">
            <h3>Create Medication Plan For Patient</h3>
            <form class="form-caregiver" (submit)="createMedication(mpid.value, mid.value, mmorning, mnoon, mevening, mpstart.value, mpend.value)">
                <select #mpid>
                    <option *ngFor="let patient of patients; let z = index" value= '{{patients[z].id}}'>
                        {{patients[z].name}} - {{patients[z].id}}
                    </option>
                </select>

                <select #mid>
                    <option *ngFor="let medication of medications; let z = index" value= '{{medications[z].id}}'>
                        {{medications[z].name}} - {{medications[z].id}}
                    </option>
                </select>

                <div class="intake-box">
                    <div class="part-of-day">
                        <input type="checkbox" id="morning" #mmorning>
                        <label for="morning">Morning</label>
                    </div>

                    <div class="part-of-day">
                        <input type="checkbox" id="noon" #mnoon>
                        <label for="noon">Noon</label>
                    </div>

                    <div class="part-of-day">
                        <input type="checkbox" id="evening" #mevening>
                        <label for="evening">Evening</label>
                    </div>
                </div>

                <label for="start">Start Date</label>
                <input type="date"  id="start" #mpstart>

                <label for="end">End Date</label>
                <input type="date"  id="end" #mpend>
               
                <input type="submit" value="Create Plan">
            </form>
        </div>

    </div>

</div>