<div class="container">
    <h1>Welcome Caregiver {{caregiverDTO.name}}!</h1>

    <div class="patients">
        <h3>My Patients</h3>
        <tr class="header">
            <td class="id">ID</td>
            <td class="name">NAME</td>
            <td class="birth">BIRTH DATE</td>
            <td class="gen">GENDER</td>
            <td class="address">ADDRESS</td>
            <td class="record">MEDICAL RECORD</td>
            <td class="record">DR. ID</td>
        </tr>
        <tr *ngFor="let patient of patients">
            <td class="id">{{patient.id}}</td>
            <td class="name">{{patient.name}}</td>
            <td class="birth">{{patient.birthDate}}</td>
            <td class="gen">{{patient.gender}}</td>
            <td class="address">{{patient.address}}</td>
            <td class="record">{{patient.medicalRecord}}</td>
            <td class="dr">{{patient.doctor}}</td>
        </tr>
    </div>

    <div class="notifications">
        <h3>NOTIFICATIONS:</h3>
        <tr class="header">
            <td class="patient">PATIENT</td>
            <td class="activity">ACTIVITY</td>
            <td class="start">START</td>
            <td class="end">END</td>
        </tr>
        <tr *ngFor="let notification of notifications">
            <td class="patient">{{notification.patient_id}}</td>
            <td class="activity">{{notification.activity}}</td>
            <td class="start">{{notification.start}}</td>
            <td class="end">{{notification.end}}</td>
        </tr>
    </div>




</div>