.patients, .notifications {
    display: flex;
    flex-direction: column;

    tr {
        td.id {
            width: 320px;
        } 
        td.name {
            width: 120px;
        } 
        td.birth {
            width: 200px;
        } 
        td.gen {
            width: 100px;
        } 
        td.address {
            width: 150px;
        } 
    
        td.effects {
            width: 200px;
        }
    
        td.dose {
            width: 75px;
        }

        td.patient {
            width: 320px;
        }

        td.start {
            width: 150px;
        }

        td.end {
            width: 150px;
        }
        td.activity {
            width: 100px;
        }
       
    }
    .header {
        font-weight: bold;
        margin-bottom: 20px;
    }
  
}