<div class="login-page">
    <div class="login-container">
      <h1>LOG IN</h1>

      <form class="form-section" (submit)="logIn(username.value, password.value)" >
        <div class="form-field">Username</div>
        <input type="text" required="required" #username>
        <div class="form-field">Password</div>
        <input  type="password" required="required" #password>
        <div class="btn">
          <button class="form-button" type="submit">Login</button>
        </div>
      </form>

      <!-- <div class="form-field">Username</div>
      <input [ngModel]="username" type="text"> -->

</div>
